###################################################
#Version: 1.0                                     #
#Author: Alex Schomaker - alexschomaker@ufrj.br   #
#LAMPADA - IBQM - UFRJ                            #
###################################################
#folder for mitobim
mitobimfolder = default

#folder for mitobim 1.7
mitobim1.7folder = default

#folder for mira4.0
#you can also use 'installed' if you have MIRA completely installed in your system
mira4folder = default

#folder for mira3.4
mira3folder = default

#folder for SOAPtrans
soaptransfolder = default

#folder for SOAPdenovo
soapdenovofolder = default

#folder for SPAdes
spadesfolder = default

#folder for tRNAscan
trnascanfolder = default

#folder for Blast
#you can set it to 'installed' if you have it properly setup to your computer
#if you want to use a installed program, use legacy blast
#a blast+ executable is already provided in plastidmaker folder
blastfolder = default
